* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
  font-family: roboto, Arial, Helvetica, sans-serif;
}

.container_main {
    height: calc(100vh - 90px);

}

.container_main::after {
    content: "";
    display: table;
    clear: both;
}

.container_main {
    height: calc(100vh - 90px);
    width: 100%;
}

.box_upgrade {
    width:  calc(100vw - 230px);
    height: 100px;
    background-color: #080b12;
    float: right;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    opacity: 60%;
}

.btn_upgrade {
    align-self: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #fff;
    width: 250px;
    padding: 14px;
    border-radius: 30px;
    text-align: center;
    margin-right: 10px;
}

.btn_upgrade:hover {
    transform: scale(1.05);
}

.content_main {
    width:  calc(100% - 230px);
    height: 100%;
    background-color: #141922;
    float: right;
    overflow: auto;

}

.nav_playlist {
    height: 100%;
    width: 230px;
    background-color: #000000;
    float: left;
    overflow: hidden;
}

.account {
    display: flex;
    width: 230px;
    background-color: red;
    align-items: flex-end;
}

/* .nav_playlist li {
    margin-bottom: 30px;
    margin-left: 10px;

} */

#img_logo {
    width: 185px;
    padding: 20px;
}

.bottone {
    border-left: 3px solid ;
    width: 230px;
    height: 40px;
}

.bottone_home {
    border-left: 3px solid #adff2f;
}

.tasto {
    color: #d2d2d2;
    position: relative;
    margin-left: 48px;
    padding-top: 10px;
    font-size: 14px;
}

.icona_nav {
    height: 25px;
    padding-left: 15px;
    margin-top: 5px;
    position: absolute;
    overflow: hidden;
}

.playlist {
    width: 230px;
    color:  #d2d2d2;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.square {
    width: 40px;
    height: 40px;
    background-color: #d2d2d2;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    overflow: hidden;

}
.crea_playlist {
    position: relative;
    margin-left: 50px;
    padding-top: 30px;
    color: #d2d2d2;
}

.lista {
    margin-top: 30px;

}

.lista li a{
    color: #d2d2d2;
}

.playlist li {
    margin-bottom: 8px;
}

.menu_main {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    color: #d2d2d2;
}

.menu_main li a {
    margin: 20px;
    color: #d2d2d2;
    font-size: 14px;
}

.barretta {
    height: 2px;
    width: 30px;
    background-color: #adff2f;
    margin-left: 45px;
    margin-top: 5px;
}

.content_main h1 {
    padding-left: 20px;
    color:#fff;
    margin-top: 20px;
}

.content_main p {
    padding-left: 20px;
}

.terzo_blocco h1 {
    padding-left:20px;
}


.container_album {
    background-color:;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
}

.layover {
    height: 180px;
    margin-right: 15px;
    background-color: #000;
    opacity: 100%;
    display: flex;
    position: absolute;

}

.img_album {
    height: 180px;
    margin-right: 15px;
    display: flex;
    position: relative;

}

.description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 10px;

}

.title_img {
    margin-top: 10px;
    width: 180px;
    background-color: ;
    /* margin-right: 15px; */
    /* height: 20px; */
    text-align: center;
    color: #fff;
    font-weight: 600;
}
.subtitle {
    width: 180px;
    font-size: 12px;
    margin-top: 10px;
    color: lightgrey;
    text-align: center;
}

.secondo_blocco {
    /* width: 100%; */
    height: 100px;
    /* background-color: red; */

    margin-top: 100px;
}

.secondo_blocco, .terzo_blocco p {

    color: #696c71;
    font-size: 14px;
}


.container_album_2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.description_2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 10px;

}

.terzo_blocco {
    margin-top: 230px;
}

/* .terzo_blocco h1 {
    padding-left: 20px;
} */

.radius {
    border-radius: 100px;
}





.footer_player {
    width: 100%;
    height: 90px;
    background-color: #282828;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
}

.player_left {
    background-color: ;
    height: 90px;
    width: 200px;
    margin-left: 40px;
}

#img_player {
    width: 50px;
    margin-top: 20px;
    position: absolute;
}

.brano {
    margin-left: 65px;
    margin-top: 30px;
    color:#fff;
    font-weight: 700;
}

.brano p {
    color: grey;
    font-size: 11px;
}

.icone_left {
    height: 90px;
    width: 50px;
    background-color:;
    display: flex;
}

.cuore, .folder{
    align-self:  center;
    margin-right: 15px;
    font-size: 18px;
    color: grey;

}

.player_center {
    height: 90px;
    width: 600px;
    background-color: ;
    display: flex;
    margin-left: 200px;
    justify-content: center;
    color: #fff;

}

.comandi {
    margin-right:30px;
    font-size: 20px;
    padding-top: 18px;
}

.play {
    font-size: 35px;
    padding-top: 10px;
}

.cursore {
    width: 400px;
    height: 4px;
    margin-top: 40px;
    background-color: grey;
    align-self: center;
    position: absolute;
    border-radius: 20px;
}

.cursore_verde {
    width: 100px;
    height: 4px;
    margin-top: 0px;
    background-color: lightgrey;
    align-self: center;
    border-radius: 20px;
    position:absolute;
}

.time {
    position: absolute;
    margin-left: -45px;
    margin-top: -8px;
    font-size: 12px;
}

.time_right {
    position: absolute;
    margin-left: 420px;;
    margin-top: -8px;
    font-size: 12px;
}

.player_right {
    height: 90px;
    width: 260px;
    background-color: ;
    display: flex;
    margin-left:250px;

    margin-right: 20px;

}

.video, .barre, .volume {
    align-self:  center;
    margin-right: 15px;
    font-size: 15px;
    color: grey;
}

.cursore_volume {
    width: 100px;
    height: 4px;
    margin-left: 90px;
    background-color: grey;
    align-self: center;
    border-radius: 20px;
    position:absolute;
}

.volume_barra {
    width: 30px;
    height: 4px;

    background-color: lightgrey;
    align-self: center;
    border-radius: 20px;
    position:absolute;
}
